@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Kanit';
		src: url('lib/fonts/Kanit.ttf');
	}
	html {
		font-family: 'Kanit', sans-serif;
		color: #303030;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: none;
	}
}
